* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oxanium', cursive;
}
/* --------------------------------
Nav bar
---------------------------------*/
#bg-navbar {
    background-color: #062452;
    font-weight: 300;
    font-family: 'Oxanium', cursive;
}
#nav-item{
    padding: 15px;
}
#nav-item:hover {
    background-color: antiquewhite;
    color: #062452;
    border-radius: 5px;
    transition: all 0.8s;
}
/* --------------------------------
Section - trabalhos
---------------------------------*/
.border-image {
    
    
    
}  
#img-hello {
    border-radius: none;
    border: none;
    box-shadow: none;
}
.img-fluid {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
} 
.btn-color{
    color: #ffffff;
    background-color: #062452;
}
.btn-color:hover{
    background-color: #ffffff;
    color: #062452;
    border: solid 1px #062452;
    transition: all 0.5s;
}
.text-sobre{
    font-size: 1rem;
}
#text-curso {
    font-weight: 300;
    font-size: 0.9rem;
}
/* --------------------------------
Footer
---------------------------------*/
#footer-fluid{
    background-color: #062452;
    height: 80px    ;
    display: flex;
    align-items: center;
  
}
#footer-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 200;
    color: #ffffff;
}
.link{
    color: #062452;
}
.link:hover{
    text-decoration: none;
    color: #07cdff;
    transition: all 0.5s;
}
.contatos {
    font-size: 1rem;
}
.logo-contatos{
    font-size: 2rem;
}

